@import "tailwindcss";

@layer base {
  body {
    background-color: black;
  }
}

/* কাস্টম স্ক্রলবার */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  border-radius: 4px;
}
